discord.py[voice]
asyncio
aiohttp
certifi 
cryptography
flask
pygame
numpy
opencv-python
moviepy
pillow
pyautogui
pyperclip
keyboard
requests
urllib3
werkzeug
pywin32
pycaw
comtypes
pygetwindow
python-dotenv
discord.py
wmi
python-dateutil
pyaes
pycryptodome
