# Core Requirements
discord.py[voice]
pyautogui==0.9.54
pyperclip==1.8.2
keyboard==0.13.5
python-dateutil==2.8.2
asyncio

# Windows-specific
pywin32==311
wmi==1.5.1

pycryptodome==3.20.0  # For encryption
requests==2.31.0  # For web requests
pillow  # For screenshot handling
certifi
aiohttp

discord.py
pyautogui
pyperclip
aiohttp
certifi
pyaes
keyboard
urllib3
requests
cryptography
flask
opencv-python
numpy
